.orderDetails {
  display: flex;
  flex-direction: column;
}

.orderNumber {
  margin-bottom: 20px;
  text-align: start;
}

.orderName {
  text-align: start;
  margin-bottom: 10px;
  margin-top: 35px;
}

.status {
  text-align: start;
}

.ingredientsList {
  max-height: 220px; 
  overflow-y: auto; 
  margin-top: 24px; 
}

.ingredientRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-right: 10px;
}

.ingredientImageWrapper {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.ingredientImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ingredientName {
  flex: 1;
  margin-left: 10px;
  text-align: start;
  font-size: 16px;
}

.ingredientCount {
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.totalPriceWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #e2e2e2;
}

.timeStamp {
  color: #8585AD;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.total-price > .counter {
  position: relative !important;
  background: transparent !important;
}
