.burger-ingredients {
  flex: 1;
}

.ingredients::-webkit-scrollbar {
  width: 12px;
}

.ingredients::-webkit-scrollbar-track {
  background: #444;
  border-radius: 6px;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 2px solid #444;
}

.ingredients::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.tab-container {
  display: flex;
  width: 100%;
}

.tab {
  flex: 1;
  text-align: center;
}

.ingredients {
  height: 756px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #444; 
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
}

.ingredient-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 4px;
}

.header-Ñounter {
  position: absolute;
  top: 0px;
  right: 0px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price > .counter {
  position: relative !important;
  background: transparent !important;
}



