.wrapper {
  display: flex;
  margin-top: 120px;
  gap: 60px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 370px;
  gap: 80px;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-link {
  padding: 20px 0;
  color: #8585AD;
  text-decoration: none;
}

.active {
  color: #F2F2F3;
}
