.orderBlock {
  width: 584px;
  max-height: 214px;
  background-color: #1C1C21;
  border-radius: 40px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.orderInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeStamp {
  color: #8585AD;
}

.ingredientsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.ingredients {
  display: flex;
  width: 304px;
  position: relative;
  height: 64px;
}

.ingredient {
  display: flex;
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #131316;
  border-radius: 50%;
  border: 2px solid #801AB2;
  overflow: hidden;
}

.ingredient img {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  object-fit: cover;
}

.remainingCount {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: rgba(19, 19, 22, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 50%;
}

.remainingCount span {
  color: #F2F2F3;
  font-weight: bold;
  font-size: 16px;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-price > .counter {
  position: relative !important;
  background: transparent !important;
}
