.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: #1C1C21;
  padding: 40px 40px 0;
  border-radius: 40px;
  width: 720px;
  /* height: 620px; */
  min-height: 400px; /* Заменяем height на min-height */
  max-height: 90vh;
  color: #F2F2F3;
  text-align: center;
}

.modal-no-title {
  /* height: 539px; */
  padding-top: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-no-title {
  justify-content: end;
}

.modal-close {
  background: none;
  border: none;
  color: #F2F2F3;
  font-size: 24px;
  cursor: pointer;
}

.modalContent {
  flex: 1; /* Позволяет этому блоку занимать все свободное пространство */
  overflow-y: auto; /* Добавляем прокрутку для контента, если он превышает высоту */
  margin-top: 20px;
}