.burger-ingredients {
  flex: 1;
}

ingredients:hover,
.ingredients.scrolling {
  scrollbar-width: thin; 
}

.ingredients::-webkit-scrollbar {
  display: none;
}

.ingredients::-webkit-scrollbar-track {
  background: #1C1C21;
  border-radius: 6px;
}

.ingredients::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 2px solid #1C1C21;
}

.ingredients::-webkit-scrollbar-thumb:hover {
  background-color: #8585AD;
}

.tab-container {
  display: flex;
  width: 100%;
}

.tab {
  flex: 1;
  text-align: center;
}

.ingredients {
  height: 756px;
  overflow-y: auto;
  scrollbar-width: none; 
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
}

.ingredient-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 4px;
  max-width: 272px;
} 

.ingredient-description {
  font-size: 16px !important;
  line-height: 24px !important;
  text-align: center;
}

.header-Ñounter {
  position: absolute;
  top: 0px;
  right: 0px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price > .counter {
  position: relative !important;
  background: transparent !important;
  font-size: 28px !important;
  line-height: 24px !important;
}



